// POST :: START


section.post
  .post__wrapper

    p.post__subtitle.post__subtitle-0!= "Интегрируем программные решения"

    h1.post__title.title!= "Дружить с котами — Легко!"
    p.post__text!= "Мы хотим, чтобы наши клиенты шли к ведению своего бизнеса при помощь инновационных инструментов и технологий.Нашим заказчика мы предлагаем профессиональные решения, сервисы и консалтинговые услуги, позволяющие экономить время, двигаться к поставленным целям легко и эффективно."

    p.post__subtitle.post__subtitle-1!= "Заполните форму обратной связи и мы обязательно с Вами свяжемся"

    form.post__form.form(action="" method="" autocomplete="off")
      .form__field.form__field--input
        input.form__input(type="text" name="" placeholder="Как к Вам обращаться ?")

      .form__field.form__field--input
        input.form__input(type="tel" name="" placeholder="")

      .form__field.form__field--input
        input.form__input(type="text" name="" placeholder="На какую почту писать ?")

      .form__field.form__field--input
        input.form__input(type="text" name="" placeholder="Тема собщения")

      .form__field.form__field--textarea
        textarea.form__textarea(name="" placeholder="Что Вы хотите нам сказать ?")

      .form__field.form__field--info
        p!= "Нажимая кнопку Отправить я подтверждаю, что ознакомлен и согласен с <a href='#'>Политикой конфиденциальности</a> и даю согласие на обработку своих персональных данных"

      .form__field.form__field--button
        button.form__btn(type="submit")
          span!= "Отправить"
          i.icon-arrow-right-w

        
// POST :: END
