// POST :: START


section.post
  .post__wrapper

    p.post__subtitle.post__subtitle-0.subtitle.wow.wowFadeUp(data-animation-delay="0.3s")!= "Интегрируем программные решения"

    h1.post__title.title.wow.wowFadeUp(data-animation-delay="0.45s")!= "Дружить с котами — Легко!"
    p.post__text.wow.wowFadeUp(data-animation-delay="0.5s")!= "Мы хотим, чтобы наши клиенты шли к ведению своего бизнеса при помощь инновационных инструментов и технологий.Нашим заказчика мы предлагаем профессиональные решения, сервисы и консалтинговые услуги, позволяющие экономить время, двигаться к поставленным целям легко и эффективно."

    p.post__subtitle.post__subtitle-1.wow.wowFadeUp(data-animation-delay="0.55s")!= "Заполните форму обратной связи и мы обязательно с Вами свяжемся"

    form.post__form.form.wow.wowFadeUp(data-animation-delay="0.6s" action="" method="" autocomplete="off")
      .form__field.form__field--input
        input.form__input(type="text" name="name" placeholder="Как к Вам обращаться ?")
        i.form__icon.icon-done

      .form__field.form__field--input
        input.form__input(type="tel" name="phone" placeholder="")
        i.form__icon.icon-done

      .form__field.form__field--input
        input.form__input(type="text" name="email" placeholder="На какую почту писать ?")
        i.form__icon.icon-done

      .form__field.form__field--input
        input.form__input(type="text" name="subject" placeholder="Тема собщения")
        i.form__icon.icon-done

      .form__field.form__field--textarea
        textarea.form__textarea(name="message" placeholder="Что Вы хотите нам сказать ?")

      .form__field.form__field--info
        p!= "Нажимая кнопку Отправить я подтверждаю, что ознакомлен и согласен с <a href='#'>Политикой конфиденциальности</a> и даю согласие на обработку своих персональных данных"

      .form__field.form__field--button
        button.form__btn(type="submit")
          span!= "Отправить"
          +icon("ico-strelka")

        
// POST :: END
