// HEADER :: START

-
  var navArr = [
    {
      href : "about.html",
      name : "О нас",
      iconName: "about"
    },
    {
      href : "#",
      name : "Заказать услугу",
      iconName: "order"
    },
    {
      href : "catalog.html",
      name : "Catалог",
      iconName: "catalog"
    },
    {
      href : "contact.html",
      name : "Контакты",
      iconName: "contact"
    }
  ];


header.header
  .header__wrapper

    +logo("header")

    .hamburger(hamburger-js)
      .hamburger__box
        .hamburger__box-line

    .header__mobile
      .nav
        ul.nav__list
          each val, idx in navArr
            if(bodyClass === "about" && idx === 0)
              li.nav__item(class!= "nav__item-" + idx)
                a(href= navArr[idx].href title="" class="nav__btn is-active")
                  i(class!= "icon-" + navArr[idx].iconName)
                  span!= navArr[idx].name
            if(bodyClass === "order" && idx === 1)
              li.nav__item(class!= "nav__item-" + idx)
                a(href= navArr[idx].href title="" class="nav__btn is-active")
                  i(class!= "icon-" + navArr[idx].iconName)
                  span!= navArr[idx].name
            if(bodyClass === "catalog" && idx === 2)
              li.nav__item(class!= "nav__item-" + idx)
                a(href= navArr[idx].href title="" class="nav__btn is-active")
                  i(class!= "icon-" + navArr[idx].iconName)
                  span!= navArr[idx].name
            if(bodyClass === "contact" && idx === 3)
              li.nav__item(class!= "nav__item-" + idx)
                a(href= navArr[idx].href title="" class="nav__btn is-active")
                  i(class!= "icon-" + navArr[idx].iconName)
                  span!= navArr[idx].name
            else
              li.nav__item(class!= "nav__item-" + idx)
                a(href= navArr[idx].href title="" class="nav__btn")
                  i(class!= "icon-" + navArr[idx].iconName)
                  span!= navArr[idx].name

      +phone("header")
        
// HEADER :: END
