- var svgSprite = 'images/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)
    use(xlink:href= svgSprite + '#' + name)


mixin btn(classMod, text, textData, idx)
  a.btn(
    href="#"
    title=""
    data-idx!= idx
    class= (classMod) ? classMod : ""
  )
    span(data-txt!= textData)!= text
    +icon("ico-strelka")


mixin logo(classMod)
  .logotype.wow.wowFadeLeft(
    data-animation-delay="0.25s"
    class!= (classMod) ? "logotype--" + classMod: ""
  )
    a(
      href="homepage.html"
      title="" 
      class="logotype__link"
    )
      img(
        src="./images/img-logotype.png"
        srcset="./images/img-logotype@2x.png 2x"
        alt="" 
        title=""
       )


mixin phone(classMod)
  .phone.wow.wowFadeLeft(
    data-animation-delay="0.8s"
    class!= (classMod) ? "phone--" + classMod: ""
  )
    a(
      href="tel:7 (495) 134 30 21"
      title=""
      class="phone__btn"
    )
      +icon("ico-zvonok")
      span!= "+7 (495) 134 30 21"
