// PROJECT :: START


section.project
  .project__wrapper

    .project__row
      h1.project__title.title!= "Наши проекты"

      .custom__button-wrap
        a.custom__button.custom__button-prev.project__button-prev(
          href="#" title="" class=""
        )
          +icon("ico-strelka")
        a.custom__button.custom__button-next.project__button-next(
          href="#" title="" class=""
        )
          +icon("ico-strelka")

    .swiper-container.project-slide-js
      .swiper-wrapper
        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры своих серверов. Провели полную проверку всех серверов с заменой дополнительного оборудования."

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-0__project.png"
                  srcset="./img/img-block-0__project@2x.png 2x"
                  alt=""
                  title=""
                 )

        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры своих серверов."

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-1__project.png"
                  srcset="./img/img-block-1__project@2x.png 2x"
                  alt=""
                  title=""
                 )

        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры своих серверов. Провели полную проверку."

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-2__project.png"
                  srcset="./img/img-block-2__project@2x.png 2x"
                  alt=""
                  title=""
                 )

        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры"

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-0__project.png"
                  srcset="./img/img-block-0__project@2x.png 2x"
                  alt=""
                  title=""
                 )

        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры своих серверов. Провели полную проверку всех серверов с заменой дополнительного оборудования."

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-1__project.png"
                  srcset="./img/img-block-1__project@2x.png 2x"
                  alt=""
                  title=""
                 )


        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры своих серверов. Провели полную проверку всех серверов с заменой дополнительного оборудования."

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-0__project.png"
                  srcset="./img/img-block-0__project@2x.png 2x"
                  alt=""
                  title=""
                 )

        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры своих серверов."

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-1__project.png"
                  srcset="./img/img-block-1__project@2x.png 2x"
                  alt=""
                  title=""
                 )

        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры своих серверов. Провели полную проверку."

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-2__project.png"
                  srcset="./img/img-block-2__project@2x.png 2x"
                  alt=""
                  title=""
                 )

        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры"

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-0__project.png"
                  srcset="./img/img-block-0__project@2x.png 2x"
                  alt=""
                  title=""
                 )

        .swiper-slide
          .project__block
            .project__block-header
              p.project__block-title!= "Петрозаводский территориальный фонд"
              p.project__block-text!= "Петрозаводский территориальный фонд провел проверку IT-инфраструктуры своих серверов. Провели полную проверку всех серверов с заменой дополнительного оборудования."

            .project__block-body
              a.project__block-btn(
                href="#" title="" class=""
              )
                span!= "Подробнее"
                +icon("ico-strelka")
              .project__block-img.is-open
                img(
                  src="./img/img-block-1__project.png"
                  srcset="./img/img-block-1__project@2x.png 2x"
                  alt=""
                  title=""
                 )


      .swiper-pagination


    +btn("project__btn", "Все проекты")

        
// PROJECT :: END
