// LEGAL :: START


section.legal
  .legal__wrapper

    h1.legal__title.title!= "Юридическая информация"

    .legal__row
      .legal__col.legal__col-0
        .legal__col-left
          p.legal__col-info!= "ООО «ИНФОКЭТ»"

        .legal__col-right
          p.legal__col-title!= "Юридический адрес:"
          p.legal__col-info!= "129327, г. Москва, Анадырский проезд 17/1 - 40"

      .legal__col.legal__col-1
        .legal__col-left
          p.legal__col-title!= "ИНН"
          p.legal__col-info!= "7716241698"

        .legal__col-right
          p.legal__col-title!= "Фактический адрес:"
          p.legal__col-info!= "129344, Москва, ул. Енисейская, д. 1, стр. 8, оф. 105. БЦ Лира"

      .legal__col.legal__col-2
        .legal__col-left
          p.legal__col-title!= "КПП"
          p.legal__col-info!= "771601001"

        .legal__col-right
          p.legal__col-title!= "Телефон:"
          p.legal__col-info!= "+7 (495) 134 30 21"

      .legal__col.legal__col-3
        .legal__col-left
          p.legal__col-title!= "ОГРН"
          p.legal__col-info!= "1157746117660"

        .legal__col-right
          p.legal__col-title!= "E-mail:"
          p.legal__col-info!= "info@info-cat.ru"


// LEGAL :: END
