// ON :: START


section.on
  .on__wrapper

    p.on__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.3s")!= "Интегрируем программные решения"

    h1.on__title.title.wow.wowFadeUp(data-animation-delay="0.4s")!= "О нас"

    .on__row
      .on__row-left.wow.wowFadeUp(data-animation-delay="0.5s")
        p!= "Компания ИНФОКЭТ прошла путь от простой идеи до сотрудничества с крупными компаниями и  безграничными возможностями в реализации запросов наших Заказчиков. Мы стремимся быть лидерами в интеграции систем хранения данных, информационных технологий и безопасности."

      .on__row-right.wow.wowFadeUp(data-animation-delay="0.55s")
        p!= "Мы хотим, чтобы наши клиенты шли к ведению своего бизнеса при помощи инновационных инструментов и технологий, поэтому превращаем эти технологии в ценность, с помощью профессиональных решений, сервиса и консалтинговых услуг."


    .on__img-wrap.wow.wowFadeUp(data-animation-delay="0.6s")
      img(
        src="./images/img-video__on.png"
        srcset="./images/img-video__on@2x.png 2x"
        alt=""
        title=""
        class="on__img on__img--large"
       )
      img(
        src="./images/img-video-small__on.png"
        srcset="./images/img-video-small__on@2x.png 2x"
        alt=""
        title=""
        class="on__img on__img--small"
       )

      .on__img-btn
        a(
          href="" title="" class=""
          playVideo-js
          data-mfp-src="https://www.youtube.com/watch?v=m6hJtLH7QZA"
        )
          i.icon-play
        p
          span!= "О компании"
          span!= "01:10"

// ON :: END
