// ON :: START


section.on
  .on__wrapper

    p.on__subtitle!= "Интегрируем программные решения"

    h1.on__title.title!= "О нас"

    .on__row
      .on__row-left
        p!= "Компания ИНФОКЭТ прошла путь от простой идеи до сотрудничества с крупными компаниями и  безграничными возможностями в реализации запросов наших Заказчиков. Мы стремимся быть лидерами в интеграции систем хранения данных, информационных технологий и безопасности."

      .on__row-right
        p!= "Мы хотим, чтобы наши клиенты шли к ведению своего бизнеса при помощи инновационных инструментов и технологий, поэтому превращаем эти технологии в ценность, с помощью профессиональных решений, сервиса и консалтинговых услуг."


    .on__img-wrap
      img(
        src="./img/img-video__on.png"
        srcset="./img/img-video__on@2x.png 2x"
        alt=""
        title="on__img"
       )

      .on__img-btn
        a(
          href="" title="" class=""
        )
          i.icon-play
        p
          span!= "О компании"
          span!= "01:10"

// ON :: END
