// AROUND :: START


section.around
  .around__wrapper

    .swiper-container.around-slide-js
      .swiper-wrapper
        .swiper-slide
          .around__row
            .around__row-left
              h1.around__title.title!= "О компании"

              div.around__count(around-count-js)
                p!= "<span main-count-js></span> <span>\\</span> <span main-len-js></span>"

              p.around__subtitle!= "Лидер"

              p.with-dot!= "Мы стремимся быть лидерами <br>в интеграции систем <br>хранения данных, <br>информационных технологий <br>и безопасности."

            .around__row-right
              img.around__img(
                src="./img/img-bg__around.png"
                srcset="./img/img-bg__around@2x.png 2x"
                alt=""
                title=""
               )

        .swiper-slide
          .around__row
            .around__row-left
              h1.around__title.title!= "О компании"

              div.around__count(around-count-js)
                p!= "<span main-count-js></span> <span>\\</span> <span main-len-js></span>"

              p.around__subtitle!= "Лидер"

              p.with-dot!= "Мы стремимся быть лидерами <br>в интеграции систем <br>хранения данных, <br>информационных технологий <br>и безопасности."

            .around__row-right
              img.around__img(
                src="./img/img-bg__around.png"
                srcset="./img/img-bg__around@2x.png 2x"
                alt=""
                title=""
               )

        .swiper-slide
          .around__row
            .around__row-left
              h1.around__title.title!= "О компании"

              div.around__count(around-count-js)
                p!= "<span main-count-js></span> <span>\\</span> <span main-len-js></span>"

              p.around__subtitle!= "Лидер"

              p.with-dot!= "Мы стремимся быть лидерами <br>в интеграции систем <br>хранения данных, <br>информационных технологий <br>и безопасности."

            .around__row-right
              img.around__img(
                src="./img/img-bg__around.png"
                srcset="./img/img-bg__around@2x.png 2x"
                alt=""
                title=""
               )

        .swiper-slide
          .around__row
            .around__row-left
              h1.around__title.title!= "О компании"

              div.around__count(around-count-js)
                p!= "<span main-count-js></span> <span>/</span> <span main-len-js></span>"

              p.around__subtitle!= "Лидер"

              p.with-dot!= "Мы стремимся быть лидерами <br>в интеграции систем <br>хранения данных, <br>информационных технологий <br>и безопасности."

            .around__row-right
              img.around__img(
                src="./img/img-bg__around.png"
                srcset="./img/img-bg__around@2x.png 2x"
                alt=""
                title=""
               )

      .swiper-pagination

        
// AROUND :: END
