// FREE :: START


section.free
  .free__bg
    img(
      src="./images/img-bg__free.png"
      srcset="./images/img-bg__free@2x.png 2x"
      alt="" 
      title=""
     )

  .free__wrapper

    p.free__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.3s")!= "Интегрируем программные решения"
    div.free__count.wow.wowFadeUp(data-animation-delay="0.4s" free-count-js)
      p!= "Программа <span main-count-js></span> <span>\\</span> <span main-len-js></span>"

    .swiper-container.free-slide-js

      .swiper-wrapper
        .swiper-slide
          .free__row.free__row-0
            .free__row-left.wow.wowFadeUp(data-animation-delay="0.5s")
              h1.free__title.title!= "Бесплатный «Пилот»"
              p.free__text!= "Наша команда высококвалифицированных специалистов проведет подготовительные работы, индивидуально разработает проект, подберет оборудование и произведет работы по развертыванию решения."

              +btn("free__btn", "Подробнее")

            .free__row-right.wow.wowFadeUp(data-animation-delay="0.6s")
              img(
                src="./images/img-graph__free.png"
                srcset="./images/img-graph__free@2x.png 2x"
                alt=""
                title=""
               )

          .free__row.free__row-1
            .free__col.free__col-0.wow.wowFadeUp(data-animation-delay="0.6s")
              p.with-dot!= "Отсутствие <br>финансовых затрат"
            .free__col.free__col-1.wow.wowFadeUp(data-animation-delay="0.65s")
              p.with-dot!= "Минимальное участие <br>Вашего It-специалиста"
            .free__col.free__col-2.wow.wowFadeUp(data-animation-delay="0.7s")
              p.with-dot!= "Незначительная <br>нагрузка на текущую систему"
        
        // slide
        .swiper-slide
          .free__row.free__row-0
            .free__row-left
              h1.free__title.title!= "Бесплатный «Пилот» 1"
              p.free__text!= "Подготовительные работы, индивидуально разработает проект, подберет оборудование и произведет работы по развертыванию решения."

              +btn("free__btn", "Подробнее")

            .free__row-right
              img(
                src="./images/img-graph__free.png"
                srcset="./images/img-graph__free@2x.png 2x"
                alt=""
                title=""
               )

          .free__row.free__row-1
            .free__col.free__col-0
              p.with-dot!= "Отсутствие <br>финансовых затрат"
            .free__col.free__col-1
              p.with-dot!= "Минимальное участие <br>Вашего It-специалиста"
            .free__col.free__col-2
              p.with-dot!= "Незначительная <br>нагрузка на текущую систему"
        
        // slide
        .swiper-slide
          .free__row.free__row-0
            .free__row-left
              h1.free__title.title!= "Бесплатный «Пилот» 2"
              p.free__text!= "Наша команда высококвалифицированных специалистов проведет подготовительные работы, индивидуально разработает проект по развертыванию решения."

              +btn("free__btn", "Подробнее")

            .free__row-right
              img(
                src="./images/img-graph__free.png"
                srcset="./images/img-graph__free@2x.png 2x"
                alt=""
                title=""
               )

          .free__row.free__row-1
            .free__col.free__col-0
              p.with-dot!= "Отсутствие <br>финансовых затрат"
            .free__col.free__col-1
              p.with-dot!= "Минимальное участие <br>Вашего It-специалиста"
            .free__col.free__col-2
              p.with-dot!= "Незначительная <br>нагрузка на текущую систему"
        
        // slide
        .swiper-slide
          .free__row.free__row-0
            .free__row-left
              h1.free__title.title!= "Бесплатный «Пилот» 3"
              p.free__text!= "Наша команда высококвалифицированных специалистов проведет подготовительные работы, индивидуально разработает проект, подберет оборудование и сделает много всего полезного"

              +btn("free__btn", "Подробнее")

            .free__row-right
              img(
                src="./images/img-graph__free.png"
                srcset="./images/img-graph__free@2x.png 2x"
                alt=""
                title=""
               )

          .free__row.free__row-1
            .free__col.free__col-0
              p.with-dot!= "Отсутствие <br>финансовых затрат"
            .free__col.free__col-1
              p.with-dot!= "Минимальное участие <br>Вашего It-специалиста"
            .free__col.free__col-2
              p.with-dot!= "Незначительная <br>нагрузка на текущую систему"


      .swiper-pagination
        
// FREE :: END
