// MAP :: START


section.map
  .map__google
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.7064923839703!2d37.66584741634732!3d55.85040788057952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53699b6c7649f%3A0x144def8ff86b0266!2z0JXQvdC40YHQtdC50YHQutCw0Y8g0YPQuy4sIDEg0YHRgtGA0L7QtdC90LjQtSA4LCAxMDUsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMjkzNDM!5e0!3m2!1sru!2sua!4v1532506569239" frameborder="0" style="border:0" allowfullscreen)

  .map__box
    p.map__box-subtitle!= "Интегрируем программные решения"
    p.map__box-title.title!= "Контакты"

    p.with-dot
      span!= "Адрес"
      span!= "Москва, ул. Енисейская д. 1, стр. 8, оф. 105"

    p.with-dot
      span!= "E-mail"
      span!= "sales@info-cat.ru"

    p.with-dot
      span!= "Телефон"
      span!= "+7 (495) 134 30 21"

    p.with-dot
      span!= "График работы"
      span!= "Пн-Пт с  09:00-18:00 по Мск"

// MAP :: END
