// MAP :: START


section.map

  .map__box.wow.wowFadeUp(data-animation-delay="0.25s")
    p.map__box-subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.3s")!= "Интегрируем программные решения"
    p.map__box-title.title.wow.wowFadeUp(data-animation-delay="0.4s")!= "Контакты"

    p.with-dot.wow.wowFadeUp(data-animation-delay="0.45s")
      span!= "Адрес"
      span!= "Москва, ул. Енисейская д. 1, стр. 8, оф. 105"

    p.with-dot.wow.wowFadeUp(data-animation-delay="0.5s")
      span!= "E-mail"
      span
        a(
          href="mailto:sales@info-cat.ru"
          title=""
          class=""
        )!= "sales@info-cat.ru"

    p.with-dot.wow.wowFadeUp(data-animation-delay="0.55s")
      span!= "Телефон"
      span
        a(
          href="tel:+7 (495) 134 30 21"
          title=""
          class=""
        )!= "+7 (495) 134 30 21"

    p.with-dot.wow.wowFadeUp(data-animation-delay="0.6s")
      span!= "График работы"
      span!= "Пн-Пт с  09:00-18:00 по Мск"

  .map__google
    iframe(src="https://snazzymaps.com/embed/87628" style="border:none;")


// MAP :: END
