// MAP :: START


section.map

  .map__box
    p.map__box-subtitle.subtitle!= "Интегрируем программные решения"
    p.map__box-title.title!= "Контакты"

    p.with-dot
      span!= "Адрес"
      span!= "Москва, ул. Енисейская д. 1, стр. 8, оф. 105"

    p.with-dot
      span!= "E-mail"
      span
        a(
          href="mailto:sales@info-cat.ru"
          title=""
          class=""
        )!= "sales@info-cat.ru"

    p.with-dot
      span!= "Телефон"
      span
        a(
          href="tel:+7 (495) 134 30 21"
          title=""
          class=""
        )!= "+7 (495) 134 30 21"

    p.with-dot
      span!= "График работы"
      span!= "Пн-Пт с  09:00-18:00 по Мск"

  .map__google
    iframe(src="https://snazzymaps.com/embed/87628" style="border:none;")


// MAP :: END
